#hero {
    background-color: var(--b1);
    color: var(--t1);

    .presentation {
        text-align: center;
        padding: var(--paddingheight) var(--paddingside);
    }

    .nav {
    }
    .menu {
    }

    .flex-items {
    }
}