#hero {
    background-color: var(--b1);
    color: var(--t1);

    .text {
        margin: auto;
        max-width: 80rem;
    }

    .presentation {
        text-align: center;
        padding: var(--paddingheight) var(--paddingside);
    }

    .nav {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        width: 100%;
        padding: var(--paddingheight) var(--paddingside);
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    @media screen and (max-width: 768px) {
        .menu {
            flex-direction: column;
            align-items: center;
        }
        .padding_tb {
            padding-top: 10rem;
            padding-bottom: 8rem;
        }
        .flex-item {
            border: solid 0.1rem var(--t1);
            margin-bottom: 1.5rem;
            width: 10rem;
            text-align: center;
        }
    }

    @media screen and (min-width: 768px) {
        .menu {
            margin-top: 2rem;
            flex-direction: row;
            justify-content: space-around;
            border: solid 0.2rem var(--t1); //sinon bordure autour de chaque catégorie
        }
        .padding_tb {
            padding-top: 10rem;
        }
    }
   
    .menu {
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        padding: var(--paddingheight) var(--paddingside);

    }

    h1 {
        display: none;
    }
}