#works {
    background-color: var(--b2);
    color: var(--t2);

    .wave {
        background-color: var(--b1);
        line-height: 0;
        animation: object 3s linear infinite;
    }

    @keyframes object {
        0%, 100% {
            transform: translateY(0%);
        }
        40% {
            transform: translateY(-10%);
        }
    }

    .work {
        padding: var(--paddingheight) var(--paddingside);
        
        .titre {
            text-transform: uppercase;
        }
    }

    .projects img {
        // border: 5px solid var(--t2);
    }

    .line1 {
        display: flex;
        justify-content: center;
    }

    @media screen and(max-width:768px) {
        .line1 img {
            height:6rem;
            width:60%;
        }
    }
    @media screen and(min-width:768px) {
        .line1 img {
            height:20rem;
            width:80%;
        }
    }

    .line1 img {
        object-fit: cover;
        object-position: center;
    }

}