#works {
    background-color: var(--b2);
    color: var(--t2);

    .wave {
        background-color: var(--b1);
        line-height: 0;
        animation: object 3s linear infinite;
    }

    @keyframes object {
        0%, 100% {
            transform: translateY(0%);
        }
        40% {
            transform: translateY(-20%);
        }
    }

    .work {
        padding: var(--paddingheight) var(--paddingside);
        
        .titre {
            text-transform: uppercase;
        }
    }

}