<section id="hero">
    <div class="padding_tb">
        <h1>Leïly Coquard</h1>

        <div class="text">
            <h2 class="presentation">Hello, moi c'est <mark class="red">Leïly</mark>, et je suis <mark class="red">développeuse</mark>.</h2>
        </div>
        
        <div class="nav">
            <div class="menu">
                <h3 class="propos flex-item"><a href="#about">À propos</a></h3>
                <h3 class="reals flex-item"><a href="#works">Réalisations</a></h3>
                <h3 class="contact flex-item"><a href="#contact">Contact</a></h3>
            </div>
        </div>
    </div>
    
    
</section>