<footer>
    <div class="wave">
        {% include
            components/waves/wave4.html
        %}
    </div>

    <div class="footer_flex">
        <div class="left">
            <a href="#about"><label>à propos</label></a>
            <a href="#works"><label>réalisations</label></a>
            <a href="#contact"><label>contact</label></a>
        </div>
    
        <div class="right">
            <label>
                ©COPYRIGHT 2021 LEÏLY COQUARD
            </label>
        </div>
    </div>
    
</footer>