footer {
    background-color: var(--b1);
    color: var(--t1);
        
    .wave {
        background-color: var(--b4);
        line-height: 0;
    }

    a {
        text-decoration: none;
        color: var(--t1);
    }
}
