footer {
    background-color: var(--b1);
    color: var(--t1);

    a {
        text-decoration: none;
        color: var(--t1);
    }
        
    .wave {
        background-color: var(--b4);
        line-height: 0;
    }

    .footer_flex {
        padding: var(--paddingheight) var(--paddingside);
        display: flex;
        justify-content: space-between;
    }

    @media screen and (min-width:768px) {
        .footer_flex {
            flex-direction: row;
        }
        .left {
            flex-direction: row;
        }
    }

    @media screen and (max-width:768px) {
        .footer_flex {
            flex-direction: column;
        }   
        .left {
            flex-direction: column;
            align-items: center;
        }
        .right {
            align-self: center;
        }
    }

    .left {
        display: flex;
        text-transform: capitalize;
    }

    .right {
        display: flex;
        text-transform: uppercase;
    }
}
