header {
    
    @media screen and (min-width:768px) {
        writing-mode: vertical-lr;

        .wrapper > * {
           position: fixed;
           z-index: 2; 
        }
        .left {
            top: 0;
            left: 0;
        }
        .right {
            bottom: 0;
            right: 0;
        }
    }
    
    @media screen and (max-width:768px){
        display: none;
    }
}