@import "fonts";

html[data-theme="light"] {
    --b1: #FCD8B9;
    --b2: #C8B5CC;
    --b3: #BAC9B9;
    --b4: #FBEB9E;
    --t1: #1D2326;
    --t2: #1D2326;
    --t3: #1D2326;
    --t4: #1D2326;
    --important: #FF5252;
}

html[data-theme="dark"] {
    --b1: #1D2326;
    --b2: #1D2326;
    --b3: #1D2326;
    --b4: #1D2326;
    --t1: #FCD8B9;
    --t2: #C8B5CC;;
    --t3: #BAC9B9; 
    --t4: #FBEB9E;
    --important: #FF5252;
}

@media screen and (max-width: 768px) {
    html{
        /* titres */
        --h1: 700 1.875rem  "NotoSerifJP", serif;
        --h2: 500 1.563rem  "NotoSerifJP", serif;
        --h3: 500 1.365rem  "NotoSerifJP", serif;
        --h4: 500 1.25rem  "NotoSerifJP", serif;
        --h5: 500 1.25rem  "NotoSerifJP", serif;
        
        /* contenu */
        --p: 400 1.25rem  "Lato", sans-serif;
        --label: 300 1.25rem  "NotoSerifJP", serif;

        --paddingheight: 0.5rem;
        --paddingside: 1rem;
    }
}

@media screen and (min-width: 768px) {
    html {
        /* titres */
        --h1: 700 4.375rem  "NotoSerifJP", serif;
        --h2: 700 3.75rem  "NotoSerifJP", serif;
        --h3: 500 2.5rem  "NotoSerifJP", serif;
        --h4: 500 1.563rem  "NotoSerifJP", serif;
        --h5: 500 1.25rem  "NotoSerifJP", serif;
        
        /* contenu */
        --p: 400 1.25rem  "Lato", sans-serif;
        --label: 300 1.25rem  "NotoSerifJP", serif;

        --paddingheight: 2rem;
        --paddingside: 5rem;
    }
}
