<!DOCTYPE html>
<html lang="{{ site.lang }}" data-theme="{{ site.defaultTheme }}" data-dark-theme-color="{{ site.themeColorDark}}" data-light-theme-color="{{ site.themeColorLight}}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% include seo.html %}

        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/{{ page.style }}">
    </head>
    <body>
        {% include header.html %}
        <main>
            {{ content }}
        </main>
        {% include footer.html %}
    </body>
    
</html>