<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% include seo.html %}

    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/page.style">
  </head>

  <body>
    {% include header.html %}

    <main>
      {{ content }}
    </main>
    {% include footer.html %}
  </body>

</html>
